---
layout: default
---

<h1>Blog de Radio Argayo</h1>

<br>

<h2>Categorías</h2>

<div class="categories-list">
  {% for category in site.categories %}
    <a href="/categorias/{{ category[0] }}/">{{ category[0] }}</a>{% unless forloop.last %} | {% endunless %}
  {% endfor %}
</div>

<h2>Todas nuestras entradas</h2>

{% for post in paginator.posts %}
  {% include post-preview.html %}
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">← Anterior</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Siguiente →</a>
  {% endif %}
</div>
