<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}
    <link rel="stylesheet" href="/assets/css/programa.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
  <!-- Contenedor para el título y las imágenes laterales -->
  <div class="header-title-wrapper">
    <img src="/assets/imgs/logo_header_left.png" alt="Icono izquierdo" class="header-icon left-icon">
    
    <div class="title-text">
     <h1 class="project-name">{{ site.title }}</h1>
<h2 class="project-tagline">{{ site.description }}</h2>
    </div>
    
    <img src="/assets/imgs/logo_header_right.png" alt="Icono derecho" class="header-icon right-icon">
  </div>

  <!-- Botones -->
  <a href="{{ site.baseurl }}/" class="btn">Inicio</a>
  <a href="{{ site.baseurl }}/#parrilla-de-programas" class="btn">Parrilla</a>
  <a href="{{ site.baseurl }}/programas" class="btn">Programas Propios</a>
  <a href="{{ site.baseurl }}/produccionexterna" class="btn">Producción Externa</a>  
  <a href="{{ site.baseurl }}/radioargayo" class="btn">Radio Argayo</a>
  <a href="{{ site.baseurl }}/tuprograma" class="btn">Tu programa</a>
  <a href="{{ site.baseurl }}/blog/index" class="btn">Blog</a>
</header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <!-- Include del footer común -->
    {% include footer.html %}

  </body>
</html>
